body {
    background-size: 100vh;
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    background-color: rgb(124, 168, 244);
    height: 50px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

div {
    margin: 40px;
}

header h1 {
    padding: 3px;
    color: white;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    border-color:rgb(37, 37, 99);
}

.toolbox {
    display: flex;
    flex-direction: column;
}

.pct {
    margin: 0;
    min-width: 200px;
    padding: 15px;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    color:rgb(255, 255, 255)
}

.tranquille {
    background-color: lightblue;
    border-radius: 20px;
}

.chaud {
    background-color: rgb(96, 96, 194);
    border-radius: 20px;

}

.wesh {
    background-color:rgb(37, 37, 99);
    border-radius: 20px;

}

.scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    margin:0px;
    padding: 0px;
    background-color: rgb(37, 37, 99);
    height: 50px;
    min-width: 10%;
    max-width: 1300px;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    transition: width 0.2s ease-in-out;

}

.scroll p {
    margin-left: 10px
}

